<div class="pill-nav">
  <a class="active" href="">View</a>
  <a href="#edit">Edit</a>
  <a href="#history">History</a>
  <a href="#categories">Categories</a>
</div>

<ul>
<li>{{title}}
<li>{{categorytext}}
<li>{{categoryid}}
<li>{{parentid}}
<li>{{blockid}}
<li>{{created}}
<li>{{username}}
<li>{{text}}
<li>{{state}}
<li>{{levels}}
</ul>

