{{#if contributions}}
<p><h1>{{logged_in_user}}'s contributions</h1></p>
<ul>
{{#each contributions}}
<li>{{this.CREATED}} <a href="{{this.CATEGORYTEXT}}">{{this.CATEGORYTEXT}}</a></li>
{{/each}}
</ul>
{{else}}
<p> No contributions from {{logged_in_user}} </p>
{{/if}}
